NET  CLK_P                  LOC="L19" | period = 5000 ps;   # Bank 3, Vcco=2.5V, No DCI      200Mhz
NET  CLK_N                  LOC="K19" | period = 5000 ps;   # Bank 3, Vcco=2.5V, No DCI      200Mhz

NET  RST		  LOC="E9" | IOSTANDARD=LVDCI_33;
NET RST TIG;

Net "SRAM_DATA<0>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<1>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<2>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<3>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<4>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<5>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<6>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<7>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<8>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<9>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<10>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<11>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<12>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<13>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<14>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<15>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<16>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<17>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<18>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<19>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<20>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<21>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<22>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<23>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<24>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<25>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<26>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<27>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<28>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<29>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<30>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<31>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<32>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<33>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<34>" OFFSET = IN 1900 ps BEFORE "CLK_P";
Net "SRAM_DATA<35>" OFFSET = IN 1900 ps BEFORE "CLK_P";


#Net "SRAM_DATA<0>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<1>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<2>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<3>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<4>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<5>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<6>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";
#Net "SRAM_DATA<7>" OFFSET = IN 1900 ps VALID 3300 ps BEFORE "CLK_P";

NET  FPGA_ROTARY[0]     LOC="AH30";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  FPGA_ROTARY[1]     LOC="AG30";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  FPGA_ROTARY[2]     LOC="AH29";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[0]         LOC="U25";   # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[1]         LOC="AG27";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[2]         LOC="AF25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[3]         LOC="AF26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[4]         LOC="AE27";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[5]         LOC="AE26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[6]         LOC="AC25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_DIP_SW[7]         LOC="AC24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED[0]           LOC="H18";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED[1]           LOC="L18";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED[2]           LOC="G15";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED[3]           LOC="AD26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED[4]           LOC="G16";   # Bank 3, Vcco=2.5V, No DCI
NET  GPIO_LED[5]           LOC="AD25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED[6]           LOC="AD24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED[7]           LOC="AE24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET  GPIO_LED_C           LOC="E8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET  GPIO_LED_E           LOC="AG23";  # Bank 2, Vcco=3.3V
NET  GPIO_LED_N           LOC="AF13";  # Bank 2, Vcco=3.3V
NET  GPIO_LED_S           LOC="AG12";  # Bank 2, Vcco=3.3V
NET  GPIO_LED_W           LOC="AF23";  # Bank 2, Vcco=3.3V


NET  GPIO_SW[0]            LOC="U8" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI N
NET  GPIO_SW[1]            LOC="AK7"| IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI E
NET  GPIO_SW[2]            LOC="V8"| IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI S
NET  GPIO_SW[3]            LOC="AJ7"| IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI W
NET  GPIO_SW[4]            LOC="AJ6"| IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI C



Net SRAM_CLK LOC=G8;
Net SRAM_CLK SLEW = FAST;
Net SRAM_CLK DRIVE = 12;
Net SRAM_CLK IOSTANDARD=LVCMOS33;
Net SRAM_CLK_FB LOC=AG21;
Net SRAM_CLK_FB IOSTANDARD=LVCMOS33;
Net SRAM_CLK_FB FEEDBACK = 100 ps NET SRAM_CLK;



Net SRAM_ADDR<17> LOC=K12;
Net SRAM_ADDR<17> SLEW = FAST;
Net SRAM_ADDR<17> DRIVE = 8;
Net SRAM_ADDR<17> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<16> LOC=K13;
Net SRAM_ADDR<16> SLEW = FAST;
Net SRAM_ADDR<16> DRIVE = 8;
Net SRAM_ADDR<16> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<15> LOC=H23;
Net SRAM_ADDR<15> SLEW = FAST;
Net SRAM_ADDR<15> DRIVE = 8;
Net SRAM_ADDR<15> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<14> LOC=G23;
Net SRAM_ADDR<14> SLEW = FAST;
Net SRAM_ADDR<14> DRIVE = 8;
Net SRAM_ADDR<14> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<13> LOC=H12;
Net SRAM_ADDR<13> SLEW = FAST;
Net SRAM_ADDR<13> DRIVE = 8;
Net SRAM_ADDR<13> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<12> LOC=J12;
Net SRAM_ADDR<12> SLEW = FAST;
Net SRAM_ADDR<12> DRIVE = 8;
Net SRAM_ADDR<12> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<11> LOC=K22;
Net SRAM_ADDR<11> SLEW = FAST;
Net SRAM_ADDR<11> DRIVE = 8;
Net SRAM_ADDR<11> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<10> LOC=K23;
Net SRAM_ADDR<10> SLEW = FAST;
Net SRAM_ADDR<10> DRIVE = 8;
Net SRAM_ADDR<10> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<9> LOC=K14;
Net SRAM_ADDR<9> SLEW = FAST;
Net SRAM_ADDR<9> DRIVE = 8;
Net SRAM_ADDR<9> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<8> LOC=L14;
Net SRAM_ADDR<8> SLEW = FAST;
Net SRAM_ADDR<8> DRIVE = 8;
Net SRAM_ADDR<8> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<7> LOC=H22;
Net SRAM_ADDR<7> SLEW = FAST;
Net SRAM_ADDR<7> DRIVE = 8;
Net SRAM_ADDR<7> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<6> LOC=G22;
Net SRAM_ADDR<6> SLEW = FAST;
Net SRAM_ADDR<6> DRIVE = 8;
Net SRAM_ADDR<6> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<5> LOC=J15;
Net SRAM_ADDR<5> SLEW = FAST;
Net SRAM_ADDR<5> DRIVE = 8;
Net SRAM_ADDR<5> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<4> LOC=K16;
Net SRAM_ADDR<4> SLEW = FAST;
Net SRAM_ADDR<4> DRIVE = 8;
Net SRAM_ADDR<4> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<3> LOC=K21;
Net SRAM_ADDR<3> SLEW = FAST;
Net SRAM_ADDR<3> DRIVE = 8;
Net SRAM_ADDR<3> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<2> LOC=J22;
Net SRAM_ADDR<2> SLEW = FAST;
Net SRAM_ADDR<2> DRIVE = 8;
Net SRAM_ADDR<2> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<1> LOC=L16;
Net SRAM_ADDR<1> SLEW = FAST;
Net SRAM_ADDR<1> DRIVE = 8;
Net SRAM_ADDR<1> IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<0> LOC=L15;
Net SRAM_ADDR<0> SLEW = FAST;
Net SRAM_ADDR<0> DRIVE = 8;
Net SRAM_ADDR<0> IOSTANDARD=LVCMOS33;

Net SRAM_BW_B<3> LOC=J11;
Net SRAM_BW_B<3> IOSTANDARD=LVDCI_33;
Net SRAM_BW_B<2> LOC=K11;
Net SRAM_BW_B<2> IOSTANDARD=LVDCI_33;
Net SRAM_BW_B<1> LOC=D10;
Net SRAM_BW_B<1> IOSTANDARD=LVDCI_33;
Net SRAM_BW_B<0> LOC=D11;
Net SRAM_BW_B<0> IOSTANDARD=LVDCI_33;

Net SRAM_WE_B LOC=AF20;
Net SRAM_WE_B SLEW = FAST;
Net SRAM_WE_B DRIVE = 12;
Net SRAM_WE_B IOSTANDARD=LVCMOS33;

Net SRAM_OE_B LOC=B12;
Net SRAM_OE_B IOSTANDARD=LVDCI_33;

Net SRAM_DATA<0> LOC=AG22;
Net SRAM_DATA<0> PULLDOWN;
Net SRAM_DATA<0> SLEW = FAST;
Net SRAM_DATA<0> DRIVE = 12;
Net SRAM_DATA<0> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<1> LOC=AH22;
Net SRAM_DATA<1> PULLDOWN;
Net SRAM_DATA<1> SLEW = FAST;
Net SRAM_DATA<1> DRIVE = 12;
Net SRAM_DATA<1> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<2> LOC=AH12;
Net SRAM_DATA<2> PULLDOWN;
Net SRAM_DATA<2> SLEW = FAST;
Net SRAM_DATA<2> DRIVE = 12;
Net SRAM_DATA<2> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<3> LOC=AG13;
Net SRAM_DATA<3> PULLDOWN;
Net SRAM_DATA<3> SLEW = FAST;
Net SRAM_DATA<3> DRIVE = 12;
Net SRAM_DATA<3> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<4> LOC=AH20;
Net SRAM_DATA<4> PULLDOWN;
Net SRAM_DATA<4> SLEW = FAST;
Net SRAM_DATA<4> DRIVE = 12;
Net SRAM_DATA<4> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<5> LOC=AH19;
Net SRAM_DATA<5> PULLDOWN;
Net SRAM_DATA<5> SLEW = FAST;
Net SRAM_DATA<5> DRIVE = 12;
Net SRAM_DATA<5> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<6> LOC=AH14;
Net SRAM_DATA<6> PULLDOWN;
Net SRAM_DATA<6> SLEW = FAST;
Net SRAM_DATA<6> DRIVE = 12;
Net SRAM_DATA<6> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<7> LOC=AH13;
Net SRAM_DATA<7> PULLDOWN;
Net SRAM_DATA<7> SLEW = FAST;
Net SRAM_DATA<7> DRIVE = 12;
Net SRAM_DATA<7> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<8> LOC=AF15;
Net SRAM_DATA<8> PULLDOWN;
Net SRAM_DATA<8> SLEW = FAST;
Net SRAM_DATA<8> DRIVE = 12;
Net SRAM_DATA<8> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<9> LOC=AE16;
Net SRAM_DATA<9> PULLDOWN;
Net SRAM_DATA<9> SLEW = FAST;
Net SRAM_DATA<9> DRIVE = 12;
Net SRAM_DATA<9> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<10> LOC=AE21;
Net SRAM_DATA<10> PULLDOWN;
Net SRAM_DATA<10> SLEW = FAST;
Net SRAM_DATA<10> DRIVE = 12;
Net SRAM_DATA<10> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<11> LOC=AD20;
Net SRAM_DATA<11> PULLDOWN;
Net SRAM_DATA<11> SLEW = FAST;
Net SRAM_DATA<11> DRIVE = 12;
Net SRAM_DATA<11> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<12> LOC=AF16;
Net SRAM_DATA<12> PULLDOWN;
Net SRAM_DATA<12> SLEW = FAST;
Net SRAM_DATA<12> DRIVE = 12;
Net SRAM_DATA<12> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<13> LOC=AE17;
Net SRAM_DATA<13> PULLDOWN;
Net SRAM_DATA<13> SLEW = FAST;
Net SRAM_DATA<13> DRIVE = 12;
Net SRAM_DATA<13> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<14> LOC=AE19;
Net SRAM_DATA<14> PULLDOWN;
Net SRAM_DATA<14> SLEW = FAST;
Net SRAM_DATA<14> DRIVE = 12;
Net SRAM_DATA<14> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<15> LOC=AD19;
Net SRAM_DATA<15> PULLDOWN;
Net SRAM_DATA<15> SLEW = FAST;
Net SRAM_DATA<15> DRIVE = 12;
Net SRAM_DATA<15> IOSTANDARD=LVCMOS33;
Net SRAM_DATA<16> LOC=J9;
Net SRAM_DATA<16> PULLDOWN;
Net SRAM_DATA<16> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<17> LOC=K8;
Net SRAM_DATA<17> PULLDOWN;
Net SRAM_DATA<17> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<18> LOC=K9;
Net SRAM_DATA<18> PULLDOWN;
Net SRAM_DATA<18> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<19> LOC=B13;
Net SRAM_DATA<19> PULLDOWN;
Net SRAM_DATA<19> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<20> LOC=C13;
Net SRAM_DATA<20> PULLDOWN;
Net SRAM_DATA<20> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<21> LOC=G11;
Net SRAM_DATA<21> PULLDOWN;
Net SRAM_DATA<21> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<22> LOC=G12;
Net SRAM_DATA<22> PULLDOWN;
Net SRAM_DATA<22> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<23> LOC=M8;
Net SRAM_DATA<23> PULLDOWN;
Net SRAM_DATA<23> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<24> LOC=L8;
Net SRAM_DATA<24> PULLDOWN;
Net SRAM_DATA<24> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<25> LOC=F11;
Net SRAM_DATA<25> PULLDOWN;
Net SRAM_DATA<25> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<26> LOC=E11;
Net SRAM_DATA<26> PULLDOWN;
Net SRAM_DATA<26> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<27> LOC=M10;
Net SRAM_DATA<27> PULLDOWN;
Net SRAM_DATA<27> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<28> LOC=L9;
Net SRAM_DATA<28> PULLDOWN;
Net SRAM_DATA<28> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<29> LOC=E12;
Net SRAM_DATA<29> PULLDOWN;
Net SRAM_DATA<29> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<30> LOC=E13;
Net SRAM_DATA<30> PULLDOWN;
Net SRAM_DATA<30> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<31> LOC=N10;
Net SRAM_DATA<31> PULLDOWN;
Net SRAM_DATA<31> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<32> LOC=D12;
Net SRAM_DATA<32> PULLDOWN;
Net SRAM_DATA<32> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<33> LOC=C12;
Net SRAM_DATA<33> PULLDOWN;
Net SRAM_DATA<33> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<34> LOC=H10;
Net SRAM_DATA<34> PULLDOWN;
Net SRAM_DATA<34> IOSTANDARD=LVDCI_33;
Net SRAM_DATA<35> LOC=H9;
Net SRAM_DATA<35> PULLDOWN;
Net SRAM_DATA<35> IOSTANDARD=LVDCI_33;


Net SRAM_CS_B LOC=J10;
Net SRAM_CS_B IOSTANDARD=LVDCI_33;

Net SRAM_ADV_LD_B LOC=H8;
Net SRAM_ADV_LD_B IOSTANDARD=LVDCI_33;





#NET  SRAM_ADV_LD_B         LOC="H8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      
#NET  SRAM_BW[0]             LOC="D10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      
#NET  SRAM_BW[1]             LOC="D11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      
#NET  SRAM_BW[2]             LOC="J11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      
#NET  SRAM_BW[3]             LOC="K11";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      
#NET  SRAM_CLK             LOC="AG21";  # Bank 4, Vcco=3.3V, No DCI      
#NET  SRAM_CLK             LOC="G8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      
#NET  SRAM_CS_B            LOC="J10";   # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors      