# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*/_ngo/*
*/_cg/
*chipscope*
*cs_ila*
*cs_icon*
*/.svn*
*~
*#
*.html
*.xrpt
*.ngd
*.xml
*.wfs
*.ini
*.xwv
*.twr
*.log
*.cmd
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.xst
*.map
*.ncd
*.ngm
*.csv
*.txt
*.bit
*.bgn
*.bld
*.drc
*.ipf
*.pad
*.par
*.pcf
*.ut
*.twx
*.exe
*.xpi
*.unroutes
*.pdf
*.ptwx
*.psr
*.asy
*.sym
*.veo
*.ant
*.jhd
*.restore
*.cmd_log
*.ntrc_log
*.hdlsourcefiles
*.xwv_bak
*.mrp
*/tmp/*
*/work/*
*isim*
*xlnx_auto*
*_ngo*
*_xmsgs*
*xst*
*_xdb*