NET "CLK_P" TNM_NET = CLK_P;
TIMESPEC TS_CLK_P = PERIOD "CLK_P" 5 ns HIGH 50%;
NET "CLK_N" TNM_NET = CLK_N;
TIMESPEC TS_CLK_N = PERIOD "CLK_N" TS_CLK_P PHASE 2.5 ns HIGH 50%;
Net "SRAM_ADDR<0>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<10>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<11>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<12>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<13>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<14>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<15>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<16>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<17>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<1>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<2>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<3>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<4>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<5>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<6>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<7>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<8>" TNM = SRAM_HOLD;
Net "SRAM_ADDR<9>" TNM = SRAM_HOLD;
Net "SRAM_ADV_LD_B" TNM = SRAM_HOLD;
Net "SRAM_BW_B<0>" TNM = SRAM_HOLD;
Net "SRAM_BW_B<1>" TNM = SRAM_HOLD;
Net "SRAM_BW_B<2>" TNM = SRAM_HOLD;
Net "SRAM_BW_B<3>" TNM = SRAM_HOLD;
Net "SRAM_CS_B" TNM = SRAM_HOLD;
Net "SRAM_DATA<0>" TNM = SRAM_HOLD;
Net "SRAM_DATA<10>" TNM = SRAM_HOLD;
Net "SRAM_DATA<11>" TNM = SRAM_HOLD;
Net "SRAM_DATA<12>" TNM = SRAM_HOLD;
Net "SRAM_DATA<13>" TNM = SRAM_HOLD;
Net "SRAM_DATA<14>" TNM = SRAM_HOLD;
Net "SRAM_DATA<15>" TNM = SRAM_HOLD;
Net "SRAM_DATA<16>" TNM = SRAM_HOLD;
Net "SRAM_DATA<17>" TNM = SRAM_HOLD;
Net "SRAM_DATA<18>" TNM = SRAM_HOLD;
Net "SRAM_DATA<19>" TNM = SRAM_HOLD;
Net "SRAM_DATA<1>" TNM = SRAM_HOLD;
Net "SRAM_DATA<20>" TNM = SRAM_HOLD;
Net "SRAM_DATA<21>" TNM = SRAM_HOLD;
Net "SRAM_DATA<22>" TNM = SRAM_HOLD;
Net "SRAM_DATA<23>" TNM = SRAM_HOLD;
Net "SRAM_DATA<24>" TNM = SRAM_HOLD;
Net "SRAM_DATA<25>" TNM = SRAM_HOLD;
Net "SRAM_DATA<26>" TNM = SRAM_HOLD;
Net "SRAM_DATA<27>" TNM = SRAM_HOLD;
Net "SRAM_DATA<28>" TNM = SRAM_HOLD;
Net "SRAM_DATA<29>" TNM = SRAM_HOLD;
Net "SRAM_DATA<2>" TNM = SRAM_HOLD;
Net "SRAM_DATA<30>" TNM = SRAM_HOLD;
Net "SRAM_DATA<31>" TNM = SRAM_HOLD;
Net "SRAM_DATA<32>" TNM = SRAM_HOLD;
Net "SRAM_DATA<33>" TNM = SRAM_HOLD;
Net "SRAM_DATA<34>" TNM = SRAM_HOLD;
Net "SRAM_DATA<35>" TNM = SRAM_HOLD;
Net "SRAM_DATA<3>" TNM = SRAM_HOLD;
Net "SRAM_DATA<4>" TNM = SRAM_HOLD;
Net "SRAM_DATA<5>" TNM = SRAM_HOLD;
Net "SRAM_DATA<6>" TNM = SRAM_HOLD;
Net "SRAM_DATA<7>" TNM = SRAM_HOLD;
Net "SRAM_DATA<8>" TNM = SRAM_HOLD;
Net "SRAM_DATA<9>" TNM = SRAM_HOLD;
Net "SRAM_OE_B" TNM = SRAM_HOLD;
Net "SRAM_WE_B" TNM = SRAM_HOLD;
TIMEGRP "SRAM_HOLD" OFFSET = OUT 2000 ps AFTER "CLK_P";
