# CLKs
NET CLK_P		LOC="L19" |SLEW=FAST |PERIOD=5ns HIGH 50%;
#NET CLK_N               LOC="K19" |SLEW=FAST;
#NET "CLK_P" TNM_NET = CLK_P;
#TIMESPEC TS_CLK_P = PERIOD "CLK_P" 5 ns HIGH 50%;
#NET "CLK_N" TNM_NET = CLK_N;
#TIMESPEC TS_CLK_N = PERIOD "CLK_N" TS_CLK_P PHASE 2.5 ns HIGH 50%;
# DVI Out Ports
#NET DVI_D<0>            LOC="AB8" | IOSTANDARD="LVDCI_33";   # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<1>            LOC="AC8" | IOSTANDARD="LVDCI_33";   # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<2>            LOC="AN12" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<3>            LOC="AP12" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<4>            LOC="AA9" | IOSTANDARD="LVDCI_33";   # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<5>            LOC="AA8" | IOSTANDARD="LVDCI_33";   # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<6>            LOC="AM13" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<7>            LOC="AN13" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<8>            LOC="AA10" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<9>            LOC="AB10" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<10>           LOC="AP14" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_D<11>           LOC="AN14" | IOSTANDARD="LVDCI_33";  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_DE              LOC="AE8" | IOSTANDARD="LVDCI_33" | SLEW=FAST;   # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_H               LOC="AM12" | IOSTANDARD="LVDCI_33" | SLEW=FAST;  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_RESET_B         LOC="AK6" | IOSTANDARD="LVCMOS33";   # Bank 18, Vcco=3.3V, No DCI
#NET DVI_V               LOC="AM11" | IOSTANDARD="LVDCI_33" | SLEW=FAST;  # Bank 22, Vcco=3.3V, DCI using 49.9 ohm resistors
#NET DVI_XCLK_N          LOC="AL10" | IOSTANDARD="LVCMOS33" | DRIVE=24 | SLEW=FAST;  # Bank 22, Vcco=3.3V, No DCI
#NET DVI_XCLK_P          LOC="AL11" | IOSTANDARD="LVCMOS33" | DRIVE=24 | SLEW=FAST;  # Bank 22, Vcco=3.3V, No DCI
# VIDEO I2C
#NET I2C_SCL	        LOC="U27" | PULLUP | IOSTANDARD=LVCMOS18;
#NET I2C_SDA 	        LOC="T29" | PULLUP | IOSTANDARD=LVCMOS18;
# VGA In Ports
#NET VGA_BLUE<0>         LOC="AC4" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<1>         LOC="AC5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<2>         LOC="AB6" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<3>         LOC="AB7" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<4>         LOC="AA5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<5>         LOC="AB5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<6>         LOC="AC7" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_BLUE<7>         LOC="AD7" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CLAMP           LOC="AH7" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_COAST           LOC="AG7" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_PIXEL_CLK       LOC="AH18" | IOSTANDARD=LVCMOS33 | SLEW=FAST | period = 12600 ps;  # Bank 4, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<0>      LOC="Y8" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<1>      LOC="Y9" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<2>      LOC="AD4" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<3>      LOC="AD5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<4>      LOC="AA6" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<5>      LOC="Y7" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<6>      LOC="AD6" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_Y_GREEN<7>      LOC="AE6" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_HSYNC	        LOC="AE7" | IOSTANDARD=LVCMOS33 | SLEW=FAST;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_ODD_EVEN_B      LOC="W6" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<0>     LOC="AG5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<1>     LOC="AF5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<2>     LOC="W7" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<3>     LOC="V7" | IOSTANDARD=LVCMOS33;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<4>     LOC="AH5" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<5>     LOC="AG6" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<6>     LOC="Y11" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_CBCR_RED<7>     LOC="W11" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_SOGOUT          LOC="AF6" | IOSTANDARD=LVCMOS33;   # Bank 18, Vcco=3.3V, No DCI
#NET VGA_VSYNC           LOC="Y6" | IOSTANDARD=LVCMOS33 | SLEW=FAST;    # Bank 18, Vcco=3.3V, No DCI
#NET VGA_HSYNC 	        OFFSET = IN 1000 ps BEFORE "VGA_PIXEL_CLK";
#NET VGA_VSYNC 	        OFFSET = IN 1000 ps BEFORE "VGA_PIXEL_CLK";
# Board General Purpose I/O
NET RST 	        LOC="E9" |TIG |IOSTANDARD=LVDCI_33;

#NET GPIO_ROTARY[0]     	LOC="AH30";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_ROTARY[1]     	LOC="AG30";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_ROTARY[2]     	LOC="AH29";  # Bank 17, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[0]      LOC="U25";   # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[1]      LOC="AG27";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[2]      LOC="AF25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[3]      LOC="AF26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[4]      LOC="AE27";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[5]      LOC="AE26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[6]      LOC="AC25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_DIP_SW[7]      LOC="AC24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_LED[0]         LOC="H18";   # Bank 3, Vcco=2.5V, No DCI
#NET GPIO_LED[1]         LOC="L18";   # Bank 3, Vcco=2.5V, No DCI
#NET GPIO_LED[2]         LOC="G15";   # Bank 3, Vcco=2.5V, No DCI
#NET GPIO_LED[3]         LOC="AD26";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_LED[4]         LOC="G16";   # Bank 3, Vcco=2.5V, No DCI
#NET GPIO_LED[5]         LOC="AD25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_LED[6]         LOC="AD24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_LED[7]         LOC="AE24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET GPIO_LED_SW[0]      LOC="AF13";  # Bank 2, Vcco=3.3V N
#NET GPIO_LED_SW[1]      LOC="AG23";  # Bank 2, Vcco=3.3V E
#NET GPIO_LED_SW[2]      LOC="AG12";  # Bank 2, Vcco=3.3V S
#NET GPIO_LED_SW[3]      LOC="AF23";  # Bank 2, Vcco=3.3V W
#NET GPIO_LED_SW[4]      LOC="E8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors C
NET GPIO_SW[0]          LOC="U8" |IOSTANDARD=LVCMOS33 |TIG;    # Bank 18, Vcco=3.3V, No DCI N
NET GPIO_SW[1]          LOC="AK7"|IOSTANDARD=LVCMOS33 |TIG;   # Bank 18, Vcco=3.3V, No DCI E
NET GPIO_SW[2]          LOC="V8"|IOSTANDARD=LVCMOS33 |TIG;    # Bank 18, Vcco=3.3V, No DCI S
NET GPIO_SW[3]          LOC="AJ7"|IOSTANDARD=LVCMOS33 |TIG;   # Bank 18, Vcco=3.3V, No DCI W
NET GPIO_SW[4]          LOC="AJ6"|IOSTANDARD=LVCMOS33 |TIG;   # Bank 18, Vcco=3.3V, No DCI C
# ZBT SRAM IO
Net SRAM_CLK		LOC=G8 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_CLK_FB 	LOC=AG21 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33 |FEEDBACK = 100 ps NET SRAM_CLK;
Net SRAM_CS_B 		LOC=J10 |IOSTANDARD=LVDCI_33;
Net SRAM_ADV_LD_B 	LOC=H8 |IOSTANDARD=LVDCI_33;
Net SRAM_WE_B 		LOC=AF20 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_OE_B 		LOC=B12 |SLEW=FAST |IOSTANDARD=LVDCI_33;





Net SRAM_ADDR<17> 	LOC=K12 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<16> 	LOC=K13 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<15> 	LOC=H23 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<14> 	LOC=G23 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<13> 	LOC=H12 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<12> 	LOC=J12 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<11> 	LOC=K22 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<10>	LOC=K23 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<9> 	LOC=K14 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<8> 	LOC=L14 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<7> 	LOC=H22 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<6> 	LOC=G22 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<5> 	LOC=J15 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<4> 	LOC=K16 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<3> 	LOC=K21 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<2>	LOC=J22 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<1> 	LOC=L16 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;
Net SRAM_ADDR<0> 	LOC=L15 |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS33;

# A Data
Net SRAM_BW_B<0> 	LOC=D10 |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<0> LOC=AG22 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<1> LOC=AH22 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<2> LOC=AH12 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<3> LOC=AG13 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<4> LOC=AH20 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<5> LOC=AH19 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<6> LOC=AH14 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<7> LOC=AH13 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<8> LOC=C12 |PULLDOWN |IOSTANDARD=LVDCI_33;

# B Data
Net SRAM_BW_B<1> 	LOC=D11 |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<9> LOC=AF15 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<10> LOC=AE16 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<11> LOC=AE21 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<12> LOC=AD20 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<13> LOC=AF16 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<14> LOC=AE17 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<15> LOC=AE19 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<16> LOC=AD19 |SLEW=FAST |DRIVE=12 |IOSTANDARD=LVCMOS33;
Net SRAM_DATA<17> LOC=D12 |PULLDOWN |IOSTANDARD=LVDCI_33;

# C Data
Net SRAM_BW_B<2> 	LOC=J11 |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<18> LOC=J9  |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<19> LOC=K8  |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<20> LOC=K9  |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<21> LOC=B13 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<22> LOC=C13 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<23> LOC=G11 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<24> LOC=G12 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<25> LOC=M8  |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<26> LOC=H9  |PULLDOWN |IOSTANDARD=LVDCI_33;

# D Data
Net SRAM_BW_B<3> 	LOC=K11 |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<27> LOC=L8  |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<28> LOC=F11 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<29> LOC=E11 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<30> LOC=M10 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<31> LOC=L9  |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<32> LOC=E12 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<33> LOC=E13 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<34> LOC=N10 |PULLDOWN |IOSTANDARD=LVDCI_33;
Net SRAM_DATA<35> LOC=H10 |PULLDOWN |IOSTANDARD=LVDCI_33;





# Clock to Pad(After) - The maximum time it can take for the data to be valid after the clock

#TIMEGRP "SRAM_DATA_GRP" OFFSET = OUT 3100 ps AFTER "CLK_P";
#NET "CLK_P" TNM_NET = CLK_P;
#TIMESPEC TS_CLK_P = PERIOD "CLK_P" 5 ns HIGH 50%;
#NET "CLK_N" TNM_NET = CLK_N;
#TIMESPEC TS_CLK_N = PERIOD "CLK_N" TS_CLK_P PHASE 2.5 ns HIGH 50%;
#TIMEGRP "SRAM_DATA_GRP" OFFSET = IN 1100 ps BEFORE "CLK_P";

# Pad to Setup(Before) - The maximum time that the FPGA can require an external source to provide data before the clock (the FPGA's setup time).
Net "SRAM_DATA<0>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<1>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<2>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<3>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<4>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<5>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<6>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<7>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<8>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<9>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<10>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<11>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<12>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<13>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<14>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<15>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<16>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<17>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<18>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<19>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<20>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<21>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<22>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<23>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<24>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<25>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<26>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<27>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<28>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<29>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<30>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<31>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<32>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<33>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<34>" OFFSET = IN 1200 ps BEFORE "CLK_P";
Net "SRAM_DATA<35>" OFFSET = IN 1200 ps BEFORE "CLK_P";
NET "SRAM_ADDR<0>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<1>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<2>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<3>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<4>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<5>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<6>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<7>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<8>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<9>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<10>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<11>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<12>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<13>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<14>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<15>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<16>" TNM = SRAM_PORTS;
NET "SRAM_ADDR<17>" TNM = SRAM_PORTS;
NET "SRAM_ADV_LD_B" TNM = SRAM_PORTS;
NET "SRAM_BW_B<0>" TNM = SRAM_PORTS;
NET "SRAM_BW_B<1>" TNM = SRAM_PORTS;
NET "SRAM_BW_B<2>" TNM = SRAM_PORTS;
NET "SRAM_BW_B<3>" TNM = SRAM_PORTS;
NET "SRAM_CS_B" TNM = SRAM_PORTS;
NET "SRAM_DATA<0>" TNM = SRAM_PORTS;
NET "SRAM_DATA<1>" TNM = SRAM_PORTS;
NET "SRAM_DATA<2>" TNM = SRAM_PORTS;
NET "SRAM_DATA<3>" TNM = SRAM_PORTS;
NET "SRAM_DATA<4>" TNM = SRAM_PORTS;
NET "SRAM_DATA<5>" TNM = SRAM_PORTS;
NET "SRAM_DATA<6>" TNM = SRAM_PORTS;
NET "SRAM_DATA<7>" TNM = SRAM_PORTS;
NET "SRAM_DATA<8>" TNM = SRAM_PORTS;
NET "SRAM_DATA<9>" TNM = SRAM_PORTS;
NET "SRAM_DATA<10>" TNM = SRAM_PORTS;
NET "SRAM_DATA<11>" TNM = SRAM_PORTS;
NET "SRAM_DATA<12>" TNM = SRAM_PORTS;
NET "SRAM_DATA<13>" TNM = SRAM_PORTS;
NET "SRAM_DATA<14>" TNM = SRAM_PORTS;
NET "SRAM_DATA<15>" TNM = SRAM_PORTS;
NET "SRAM_DATA<16>" TNM = SRAM_PORTS;
NET "SRAM_DATA<17>" TNM = SRAM_PORTS;
NET "SRAM_DATA<18>" TNM = SRAM_PORTS;
NET "SRAM_DATA<19>" TNM = SRAM_PORTS;
NET "SRAM_DATA<20>" TNM = SRAM_PORTS;
NET "SRAM_DATA<21>" TNM = SRAM_PORTS;
NET "SRAM_DATA<22>" TNM = SRAM_PORTS;
NET "SRAM_DATA<23>" TNM = SRAM_PORTS;
NET "SRAM_DATA<24>" TNM = SRAM_PORTS;
NET "SRAM_DATA<25>" TNM = SRAM_PORTS;
NET "SRAM_DATA<26>" TNM = SRAM_PORTS;
NET "SRAM_DATA<27>" TNM = SRAM_PORTS;
NET "SRAM_DATA<28>" TNM = SRAM_PORTS;
NET "SRAM_DATA<29>" TNM = SRAM_PORTS;
NET "SRAM_DATA<30>" TNM = SRAM_PORTS;
NET "SRAM_DATA<31>" TNM = SRAM_PORTS;
NET "SRAM_DATA<32>" TNM = SRAM_PORTS;
NET "SRAM_DATA<33>" TNM = SRAM_PORTS;
NET "SRAM_DATA<34>" TNM = SRAM_PORTS;
NET "SRAM_DATA<35>" TNM = SRAM_PORTS;
NET "SRAM_OE_B" TNM = SRAM_PORTS;
NET "SRAM_WE_B" TNM = SRAM_PORTS;
TIMEGRP "SRAM_PORTS" OFFSET = OUT 3.6 ns AFTER "CLK_P";
